/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Background */
body {
    background-color: #f4c842;
}

/* Styling for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* Decrease padding to reduce height */
    background-color: #ffffff;
    height: 45px;
    animation: slideDown 0.5s ease-in-out;
}
header .company-name {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    transition: color 0.3s, transform 0.3s;
}
header .company-name:hover{
    cursor: pointer;
    color: #005bb5;
    transform: scale(1.05);
}
header .logo img {
    height: 50px; /* Decrease logo height if necessary */
    transition: color 0.3s, transform 0.3s;
}
header .logo img:hover{
    cursor: pointer;
    transform: scale(1.05);
}
header .profile-pic img {
    height: 70px; /* Decrease profile picture height */
    width: 70px; /* Adjust width to match the height */
    /* border-radius: 50%; */
    object-fit: cover; /* Ensure the image fills the circle */
    transition: transform 0.3s ease-in-out;
}
header .profile-pic img:hover {
    transform: scale(1.1);
}
/* Dropdown Menu */
header .dropdown {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50px; /* Adjust according to your needs */
    right: 20px;
    background-color: #d7d6d6;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .dropdown ul li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

header .dropdown ul li:last-child {
    border-bottom: none;
}

header .dropdown ul li a {
    color: #5d4037; /* Dark brown */
    text-decoration: none;
}

header .dropdown ul li a:hover {
    color: #f57c00; /* Orange */
}
/* Styling for the navbar */
nav {
    background-color: #2c5c67;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px;
}

nav a:hover {
    background-color: #69a7b4;
    color: #ffffff;
}

nav a:active, nav a:focus, .tab-link.active {
    background-color: #69a7b4;
    color: #ffffff;
    border-radius: 20px ;
}
/* Styling for the content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.success-message {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.success-message i {
    font-size: 50px;
    color: #28a745;
}

.success-message h1 {
    color: #116173;
    margin: 20px 0;
}

.success-message p {
    color: #116173;
    font-size: 18px;
    margin: 20px 0;
}

.success-message a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #116173;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    transition: background-color 0.3s;
}

.success-message a:hover {
    background-color: #0e5a63;
}
